---
import '@/global.css'

import GradientOverlay from '@/components/GradientOverlay.astro'
import Snowballs from '@/components/Snowballs.astro'
import { ClientRouter } from 'astro:transitions'

const defaultTitle = 'Big Ibai: Calendario de Adviento con chocolates y premios'
const defaultDescription =
  'Participa en el calendario de adviento de Big Ibai y gana chocolates y premios increíbles cada día.'

export interface Props {
  title?: string
  description?: string
}

let { title, description } = Astro.props

title ??= defaultTitle
description ??= defaultDescription

const previousPage = Astro.request.headers.get('referer')
const isInternalNavigation = previousPage?.includes(Astro.url.origin)
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

    <link
      rel="preload"
      href="/fonts/century.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/century-bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/heavy.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="keywords" content="bigibai" />
    <meta name="author" content="Ibai Llanos" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.bigibai.com/og.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@IbaiLlanos" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://www.bigibai.com/og.jpg" />
    <meta name="twitter:image:alt" content={title} />
    <meta name="theme-color" content="#4c2d7e" />

    <link rel="icon" type="image/png" sizes="16x16" href="/cropped-favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/cropped-favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/cropped-favicon-192x192.png" />
    <link rel="apple-touch-icon" href="/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="/cropped-favicon-270x270.png" />
    <ClientRouter />
  </head>
  <body>
    <div class="overflow-hidden">
      <div id="mask" class={isInternalNavigation ? 'unlocked' : ''}>
        <div id="background">
          <GradientOverlay />
          <Snowballs />
          <div class="relative z-2">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  body {
    background: #000;
  }

  html,
  body {
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #background {
    background-image: url('/fondo.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  @keyframes lock-reveal {
    100% {
      mask-size: 2000vh;
    }
  }

  #mask {
    mask-image: url('/lock.svg');
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 50px;
    overflow-y: scroll;
    position: fixed;
    inset: 0;
    &.animated {
      animation: lock-reveal 3s forwards ease-in-out;
    }
    &.unlocked {
      position: relative;
      mask-size: 2000vh;
    }
  }

  @prefers-reduced-motion {
    #mask {
      animation: none !important;
    }

    html,
    body {
      scroll-behavior: auto;
    }
  }
</style>

<script>
  const maskEl = document.querySelector('#mask')
  maskEl?.classList.add('animated')
</script>
